:root {
    --background: #22272e;
    --panel: #2d333b;
    --font-main: #adbac7;
    --font-active: #539bf5;
    --font-2: #768390;
}

html, body {
    background: var(--background);
    margin: 0;
    padding: 0;

    color: var(--font-main);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

a {
    color: var(--font-active);
}

b {
    color: var(--font-main);
}

.main-wrapper {
    display: grid;
    grid-auto-columns: auto 1024px auto;
    grid-template-areas: ". in-main .";
}

.in-main {
    grid-area: in-main;
    display: grid;
    grid-template-columns: 220px auto;
    grid-template-areas: "nav content";
}

.content-wrapper {
    grid-area: content;
}

.block {
    padding-top: 50px;

    line-height: 24px;
}

.block-title {
    margin: 10px 10px;

    font-size: 22px;
    font-weight: bold;
}

.in-block {
    margin: 15px 10px;
}

.in-block-title {
    margin: 10px 10px;

    font-size: 18px;
    font-weight: bold;
}

.flex-block {
    display: flex;
    flex-direction: column;
}

.default-img {
    max-height: 400px;
    margin: 25px auto;
}

.code-block {
    margin: 15px 0;

    color: var(--font-2)
}

textarea {
    background: transparent;
    height: 430px;
    border: none;
    resize: none;
}

@media screen and (max-width: 1024px) {
    .main-wrapper {
        grid-auto-columns: auto;
        grid-template-areas: "in-main";
    }
}

@media screen and (max-width: 768px) {
    .in-main {
        grid-area: in-main;
        display: grid;
        grid-template-columns: auto;
        grid-template-areas: "content";
    }

    .nav-wrapper {
        display: none;
    }

    .default-img {
        width: 80%;
    }
}